* {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
}
main {
    background: #E5E5E5;
}
button:focus {
    outline: none;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-11 {
    font-size: 11px;
}
p  {
    margin: 0;
}
/* header*/
.banner-header {
    width : 100%;
}
.banner-header img {
    max-width: 100%;
}
.header {
    background-image: url('../image/header-bg.png');
    background-size: cover;
    margin : 0;
    background-repeat: no-repeat;
}
.left-header {
    height : 100%;
}
.top-header {
    text-align: center;
}
.top-header ul, .b-search-header ul {
    padding : 0;
}
.top-header ul li, .b-search-header ul li {
    list-style: none;
    display: inline;
    padding-right : 15px;
}
.top-header ul li a{
    color: white;
    font-size: 14px;
}
.b-search-header ul li a {
    font-size: 12px;
    color: white;
}
.logo {
    width : 120px;
}
.logo img {
    max-width: 100%;
}
.input-search {
    width : 90%;
    font-size: 14px;
    padding-left: 10px;
}
.input-search input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border : none;
    border-radius: 4px 0px 0px 4px;
}
.input-search select {
    color: #8C8C8C;
    border-radius: 0px 4px 4px 0px;
}
.icon-search {
    top : 6px;
    left : 10px;
    font-size: 16px;
    color : #8C8C8C;
}
.icon-camera {
    top : 6px;
    right : 10px;
}
.img-r-header {
    width : 30px;
    height: 30px;
    margin : 0 auto;
}
.img-r-header img {
    max-width: 100%;
}
.right-header .bottom-header a {
    text-decoration: none;
}
/* main */
    /*banner-info*/
.flag-lang img {
    width : 32px;
    height : 20px;
    object-fit: cover;
}
.select-lang select {
    border: none;
    color: #333333;
    background: #E5E5E5;
    transition: none;
}
.select-lang select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}
.coin-icon {
    width: 12px;
    height: 12px;
    object-fit : cover;
}
.coin {
    color : #FFC303;
}
.total-coin {
    justify-content: space-between;
    width: 70px;
}
.progress {
    width: 90px;
    height: 10px;
    border-radius: 2px;
}
.progress-bar {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.medal-icon {
    width: 18px;
    height: 23px;
    object-fit: cover;
}
.img-account img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit: cover;
}
.silver-level-icon {
    width: 14px;
    height: 9px;
    object-fit: cover;
}
.level {
    color: #8C8C8C;
}
.username {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}  
/* alert-box */
.alert-box {
    align-items: center;
    padding : 10px;
    border: 1px solid #FFC303;
    box-sizing: border-box;
}
.alert-box img{
    margin-right : 10px;
}
/* title-cart */
.title-cart {
    align-items: center;
    padding: 10px 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.pro-title-info, .item-1 {
    width: 45%;
}
.pro-title, .item-2 {
    width: 55%;
    justify-content: space-between;
}
.pro-title-info label {
    margin-bottom: 0;
    margin-left: 15px;
}
/* header-cart */
.header-cart {
    margin-top: 20px;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid #DFDFDF;
}
.like-txt {
    font-size: 12px;
    padding: 2px 5px;
    color: white;
    background: #EE4D2D;
    border-radius: 4px;
    margin: 0 15px;
}
.header-cart img {
    width: 23px;
    height: 23px;
    object-fit: cover;
    margin: 0 15px;
}
.shop-name {
    font-weight: bold;
}
.deal-box {
    padding: 10px 20px;
    background: #FFF6F0;
    border-radius: 6px;
}
.deal-txt {
    color: #FF0000;
    font-weight: bold;
}
.read-more {
    margin-left: 30px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
}
.read-more i {
    margin-left: 5px;
}
/* item-cart */
.item-cart img {
    width: 117px;
    height: 113px;
    object-fit: cover;
}
.item-cart {
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
}
.item-1 {
    padding-right: 40px;
}
.item-1, .item-2 {
    justify-content : space-between;
    align-items: center;
}
.pro-name {
    font-weight: bold;
}
.type-pro {
    color: #959595;
    font-size: 14px;
}
.discount-price {
    font-weight: bold;
    font-size: 14px;
}
.origin-price {
    text-decoration: line-through;
    color: #959595;
    font-size: 14px;
}
.same-pro {
    width : 78px;
    font-weight: bold;
    font-size: 14px;
}
.amount-pro i {
    padding: 5px;
    border: 1px solid #E4E4E4;
    border-radius: 4px;
}
.num-pro {
    font-size: 18px;
    margin:  0 10px;
}
.total-price {
    font-weight: bold;
    font-size: 18px;
    color: #FF0000;
}
.remove-item-cart {
    top: 10px;
    right: 15px;
}
.remove-item-cart i {
    color:  #AAAAAA;
    font-size: 18px;
}
/* payment-group */
.payment-group {
    margin-top: 20px;
    padding : 15px;
}
.voucher {
    text-align: right;
    padding: 15px 0;
    border-bottom: 1px solid #DFDFDF;
    font-size: 14px;
    color: #005DB6;
}
.voucher i {
    margin-left: 10px;
    border-bottom: 1px solid #DFDFDF;
}
.coin-box, .receive-box {
    padding: 15px 0;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid #DFDFDF;
}
.coin-box img {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    object-fit: cover;
}
.coin-box p {
    margin: 0 15px;
}
.coin-txt {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px !important;
}
.using-coin, .minus-coin, .receive-txt {
    color: #959595;
    font-size: 14px;
}
.receive {
    margin-left: 40px;
    color: #FF0000;
    font-size: 14px;
}
.total-price-group {
    padding: 15px 0;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-between;
}
.select-all label {
    font-weight: bold;
    font-size: 14px;
    margin-left: 5px;
}
.total-txt {
    font-size: 14px;
}
.total-price-box {
    align-items: center;
}
.total-price-box .total-price {
    font-size: 36px;
    margin-left: 20px;
}
.order-btn-group {
    text-align: right;
    padding-bottom: 20px;
}
.order-btn-group span {
    font-weight: 600;
    font-size: 14px;
    color : white;
    padding: 12px 30px;
    border-radius: 6px;
}
.order-ctv-btn {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.order-client-btn {
    background: #005DB6;
}
/* footer */
.list-category h1 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 125%;
    color: #4F4F4F;
}
.content h3, footer h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    /* or 20px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #747474;
}
.group-box, .content-footer {
    margin-right : 5px;
}
.category-content, .item-content a {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #827C7C;
}
.content-footer ul li {
    list-style: none;
}
.item-content img, .content-footer img {
    max-width: 100%;
}
.item-content img {
    padding-right: 10px;
}
.content-box {
    width : 210px;
    margin : 0 5px;
    height: 100%;
}
.content-footer {
    width : 210px;
    margin : 0 5px;
}
.chatbox {
    position: relative;
}
.chatbox img {
    width :  130px;
    position: absolute;
    right: 25px;
    bottom : 10px;
    object-fit: cover;
}
/* responseive */
@media only screen and (max-width: 600px) {
    .logo {
        width: 80px;
        margin-top: 0 !important;
        margin-bottom: 5px;
    }
    .top-header {
        padding-top : 5px !important;
    }
    .top-header ul li a{
        font-size: 11px;
    }
    .top-header ul {
        margin-bottom: 0;
    }
    .input-search {
        padding-right: 8px;
    }
    .input-search input, .input-search select {
       height : calc(1.85rem);
       font-size: 11px;
    }
    .icon-camera {
        top : 4px;
        width: 20px;
    }
    .input-search span{
        font-size: 11px;
    }
    .b-search-header {
        display: none;
    }
    .img-r-header {
        width : 20px;
    }
    .bottom-header {
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .font-12 {
        font-size: 10px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    .bottom-header a:first-child {
        padding-left : 0 !important;
    }
    .flag-lang img{
        width: 20px;
        height: 12px;
    }
    .select-lang select, .my-shop {
        font-size: 11px;
    }
    .total-coin, .level, .username {
        font-size: 11px;
    }
    .medal-icon {
        display: none;
    }
    .silver-level-icon {
        display: none;
    }
    .my-level {
        font-size: 10px;
    }
    .level {
        display: none;
    }
    .progress {
        width: 55px;
        height: 4px;
    }
    .top-box {
        padding: 10px;
        flex-direction: column;
    }
    .font-14 {
        font-size: 11px;
    }
    .list-category h1 {
        font-size: 12px;
    }
    .content h3, footer h3 {
        font-size: 11px;
    }
    .category-content, .item-content a {
        font-size: 10px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .img-r-header {
        width : 25px;
        height: 25px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 11px;
    }
    .list-category h1 {
        font-size: 14px;
    }
    .content h3, footer h3, .category-content {
        font-size: 12px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .level, .silver-level-icon {
        display: block;
    }
    .silver-level-icon {
        width: 15px;
    }
    .font-14 {
        font-size: 13px;
    }
    .list-category h1 {
        font-size: 16px;
    }
    .content h3, footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 13px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img-r-header {
        width : 28px;
        height: 28px;
    }
    .top-header {
        text-align: center;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .font-12 {
        font-size: 11px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 13px;
    }
    .list-category h1 {
        font-size: 20px;
    }
    .content h3, .footer h3 {
        font-size: 12px;
    }
    .category-content, .item-content a {
        font-size: 12px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img-r-header {
        width : 25px;
        height : 25px;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size: 14px;
    }
    .font-12 {
        font-size: 12px;
    }
    .b-search-header ul li a {
        font-size: 12px;
    }
    .icon-search span {
        font-size: 15px;
    }
    .input-search select, .username, .level {
        font-size :  16px;
    }
    .progress {
        width : 90px;
        height : 10px;
    }
    .flag-lang img {
        width : 32px;
        height : 20px;
    }
    .font-14 {
        font-size: 14px;
    }
    .font-11 {
        font-size: 11px;
    }
    .list-category h1 {
        font-size: 24px;
    }
    .content h3, .footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 14px;
    }
}
