* {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
}
main {
    background: #E5E5E5;
}
.container-fluid {
    padding : 0 60px;
}
button:focus {
    outline: none;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-11 {
    font-size: 11px;
}
.col-sm-8 {
    padding-right : 0 !important;
}
/* header*/
.banner-header {
    width : 100%;
}
.banner-header img {
    max-width: 100%;
}
.header {
    background-image: url('../image/header-bg.png');
    background-size: cover;
    margin : 0;
    background-repeat: no-repeat;
}
.left-header {
    height : 100%;
}
.top-header ul, .b-search-header ul {
    padding : 0;
}
.top-header ul li, .b-search-header ul li {
    list-style: none;
    display: inline;
    padding-right : 15px;
}
.top-header ul li a{
    color: white;
    font-size: 14px;
}
.top-header {
    text-align: center;
}
.b-search-header ul li a {
    font-size: 12px;
    color: white;
}
.logo {
    width : 120px;
}
.logo img {
    max-width: 100%;
}
.input-search {
    width : 90%;
    font-size: 14px;
    padding-left: 10px;
}
.input-search input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border : none;
    border-radius: 4px 0px 0px 4px;
}
.input-search select {
    color: #8C8C8C;
    border-radius: 0px 4px 4px 0px;
}
.icon-search {
    top : 6px;
    left : 10px;
    font-size: 16px;
    color : #8C8C8C;
}
.icon-camera {
    top : 6px;
    right : 10px;
}
.img-r-header {
    width : 30px;
    height: 30px;
    margin : 0 auto;
}
.img-r-header img {
    max-width: 100%;
}
.right-header .bottom-header a {
    text-decoration: none;
}
/* main */
.flag-lang img {
    width : 32px;
    height : 20px;
    object-fit: cover;
}
.select-lang select {
    border: none;
    color: #333333;
    background: #E5E5E5;
    transition: none;
}
.select-lang select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}
.coin-icon {
    width: 12px;
    height: 12px;
    object-fit : cover;
}
.coin {
    color : #FFC303;
}
.total-coin {
    justify-content: space-between;
    width: 70px;
}
.progress {
    width: 90px;
    height: 10px;
    border-radius: 2px;
}
.progress-bar {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.medal-icon {
    width: 18px;
    height: 23px;
    object-fit: cover;
}
.img-account img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit: cover;
}
.silver-level-icon {
    width: 14px;
    height: 9px;
    object-fit: cover;
}
.level {
    color: #8C8C8C;
}
.username {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.banner-1 {
    background-color: white;
    padding : 10px 20px;
}
.icon {
    height : 55px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 14px;
}
.div-icon {
    width : 59px;
}
.div-icon p {
    font-size: 12px;
}
.top-box {
    flex-direction: row;
    width: 100%;
    padding : 15px 20px;
}
.logo-box {
    border-right: 2px solid #ECECEC;
    height: 19px;
}
.title-box {
    font-size: 16px;
    margin-top: 10px !important;
    color: #4F4F4F;
    font-weight: bold;
    text-transform: uppercase;
}
.read-more {
    font-size: 16px;
    font-weight: bold;
}
.box-img{
    width : 55px;
    height : 55px;
    margin: 0 auto;
}
.box-item {
    height : 154px;
    font-size: 14px;
    border-left: 1px solid #ECECEC;
    border-top: 1px solid #ECECEC;
}
/* custom owl-carousel*/
.owl-item {
    margin-right : 0px imp !important;
}
.owl-prev span{
    color: #FFC303;
    width: 18px;
    height : 20px;
}
.owl-prev img, .owl-next img {
    width : 12px; 
    height : 20px;
    object-fit: cover;
}
.owl-prev {
    position: absolute;
    width : 36px;
    height : 36px;
    left: -20px;
    top: 45%;
    border-radius : 50%;
    /* background: white !important; */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-prev:focus, .owl-next:focus {
    outline: none;
}
.owl-next {
    position: absolute;
    width : 36px;
    height : 36px;
    right: -20px;
    top: 45%;
    border-radius : 50%;
    /* background: white !important; */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-stage {
    display: flex;
    align-items: center;
}
/**/
.flash-txt {
    font-family: Roboto;
    font-style: italic;
    font-weight: 900;
    font-size: 24px;
    line-height: 125%;
    display: flex;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4F4F4F;
}
.logo-box .flash-icon {
    left: 12px;
}
.div-timeline {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.div-timeline span {
    color: white;
    padding : 12px 8px;
}
.custom-input-search {
    width : 40%;
    margin-left: -100px !important;
    padding-left: 0;
}
.btn-submit {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color : #FFFFFF;
    border : none;
    padding: 7px 45px;
    cursor: pointer;
    font-size: 14px;
    right : 15px;
    bottom : 15px;
}
.product-price {
    color: #FF0000;
}
.register-ctv-btn {
    letter-spacing: 0.02em;
    color: #FF0000;
    border-radius: 4px;
    font-size : 9px;
    border : 1px solid #FF0000;
    background-color: white;
    font-weight: bold;
    padding : 2px 5px;
}
.star-icon i {
    font-size: 10px;
    color:#FFBB00;
}
.title-product, .product-price {
    font-size: 14px;
    font-weight: bold;
}
.ctv-price {
    font-size : 12px;
    font-weight: bold;
}
.product {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.amount-sale, .address-product {
    font-size: 14px;
    color: #4F4F4F;
}
.fa-thumbs-up {
    color: #CBC4C4;
    font-size: 14px;
}
.brand {
    padding: 0 15px;
}
#owl-carousel-3 .owl-prev {
    left: -37px;
    top: 5%;
}
#owl-carousel-3 .owl-next {
    right : -37px;
    top: 5%;
}
.box-type-product {
    height : 70px;
}
.type-product span{
    font-weight: bold;
    margin-right: 20px;
}
.type-product .active {
    color: #2F80ED;
    text-transform: capitalize;
    padding-bottom: 5px;
    border-bottom: 2px solid #2F80ED;
}
.title-filter {
    font-weight: 800;
}
.box-filter {
    font-size : 14px;
    width: 25%;
    padding : 10px;
}
.div-apply-btn {
    text-align: center;
    margin-top: 10px;
}
.apply-btn {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color : #FFFFFF;
    border : none;
    padding: 7px 45px;
    cursor: pointer;
    font-size: 14px;
}
.filter-star i {
    color: #FFBB00;
    padding-right : 6px;
}
.active-star {
    color:#FFBB00;
}
.filter-price-line {
    margin : 5px 10px;
    color: #827C7C;
}
.filter-price input{
    font-size: 10px;
}
.suggest-pro-box .product{
    width: 32%;
    margin-right: 1%;
    margin-bottom: 10px;
}
.suggest-pro-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 72%;
}
.suggest-pro-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
/* footer */
.list-category h1 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 125%;
    color: #4F4F4F;
}
.content h3, footer h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    /* or 20px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #747474;
}
.group-box, .content-footer {
    margin-right : 5px;
}
.category-content, .item-content a {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #827C7C;
}
.content-footer ul li {
    list-style: none;
}
.item-content img, .content-footer img {
    max-width: 100%;
}
.item-content img {
    padding-right: 10px;
}
.content-box {
    width : 210px;
    margin : 0 5px;
    height: 100%;
}
.content-footer {
    width : 210px;
    margin : 0 5px;
}
.chatbox {
    position: relative;
}
.chatbox img {
    width :  130px;
    position: absolute;
    right: 25px;
    bottom : 10px;
    object-fit: cover;
}
/* responseive */
@media only screen and (max-width: 600px) {
    .logo {
        width: 80px;
        margin-top: 0 !important;
        margin-bottom: 5px;
    }
    .top-header {
        padding-top : 5px !important;
    }
    .top-header ul li a{
        font-size: 11px;
    }
    .top-header ul {
        margin-bottom: 0;
    }
    .input-search {
        padding-right: 8px;
    }
    .input-search input, .input-search select {
       height : calc(1.85rem);
       font-size: 11px;
    }
    .icon-camera {
        top : 4px;
        width: 20px;
    }
    .input-search span{
        font-size: 11px;
    }
    .b-search-header {
        display: none;
    }
    .img-r-header {
        width : 20px;
    }
    .bottom-header {
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .font-12 {
        font-size: 10px;
    }
    .bottom-header a:first-child {
        padding-left : 0 !important;
    }
    .re-p-0 {
        padding: 0;
    }
    .re-mt-3 {
        margin-top: 5px !important;
    }
    .flag-lang img{
        width: 20px;
        height: 12px;
    }
    .select-lang select, .my-shop {
        font-size: 11px;
    }
    .total-coin, .level, .username {
        font-size: 11px;
    }
    .medal-icon {
        display: none;
    }
    .silver-level-icon {
        display: none;
    }
    .my-level {
        font-size: 10px;
    }
    .level {
        display: none;
    }
    .progress {
        width: 55px;
        height: 4px;
    }
    .left-ad, .right-ad {
        padding : 0 3px !important
    }
    .small-ad {
        margin-bottom: 2px !important;
    }
    .group-sm-ad {
        margin-top : 2px;
        flex-direction : row !important;
    }
    .re-pr-1 {
        padding-right:  0 !important;
    }
    .div-icon {
        width: 27px;
    }
    .icon img {
        width: 70%;
    }
    .icon {
        height: 27px;
        border-radius: 5px;
    }
    .div-icon p {
        display: none;
    }
    .title-box {
        font-size : 11px;
        padding-left: 7px !important;
    }
    .read-more, .fa-chevron-right {
        display: none;
    }
    .top-box {
        padding: 10px;
        flex-direction: column;
    }
    .logo-box {
        width: 70px;
        padding-right: 7px !important;
    }
    .font-14 {
        font-size: 11px;
    }
    .box-flashsale {
        flex-direction: column;
        align-items: baseline !important;
    }
    .custom-logo-box {
        margin-bottom: 10px;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .div-timeline span {
        font-size: 10px;
        padding: 8px 5px;
    }
    .flash-txt{
        font-size: 17px;
    }
    .logo-box .flash-icon {
        width: 20px;
        object-fit: cover;
    }
    .re-mb-4 {
        margin-bottom: 5px !important;
    }
    .btn-submit {
        font-size: 8px;
        padding: 2px 10px;
        border-radius: 4px;
        bottom : 2px;
    }
    .container-fluid {
        padding: 0 20px;
    }
    .banner-info {
        padding-left: 6px;
    }
    .box-img p {
        padding : 0 5px;
    }
    .top-box {
       flex-direction: row;
    }
    .font-11 {
        font-size: 9px;
    }
    .shopping-mall-info {
        flex-direction: column;
        align-items: start !important;
    }
    .item-sp-mall img{
        width : 13px;
    }
    .title-product, .product-price, .amount-sale, .address-product {
        font-size: 10px;
    }
    .ctv-price {
        font-size: 8px;
    }
    .register-ctv-btn {
        font-size: 8px;
        padding: 2px;
    }
    .star-icon i {
        font-size: 5px;
    }
    .fa-thumbs-up {
        font-size: 7px;
    }
    .col-sm-8 {
        padding: 0;
    }
    .owl-prev img, .owl-next img {
        width: 9px;
        height: 15px;
    }
    .type-product {
        font-size: 9px;
    }
    .type-product span {
        margin-right: 7px;
    }
    .type-product .active {
        border-bottom: 1px solid #2F80ED;
    }
    #owl-carousel-3 .owl-prev {
        left: -30px;
        top: 10%;
    }
    #owl-carousel-3 .owl-next {
        right: -30px;
        top: 10%;
    }
    .fa-filter {
        display: none;
    }
    .title-filter {
        font-size: 10px;
        margin-left: 0px !important;
    }
    .box-filter {
        width: 30%;
        padding: 0 5px;
    }
    .box-filter {
        font-size: 8px;
    }
    .box-filter hr {
        margin : 7px 0 !important;
    }
    input[type=checkbox] {
        height: 9px;
    }
    .filter-category label, .filter-address label, .filter-price label, .filter-status label, .filter-shop label, .filter-service label {
        margin-top: 3px;
        margin-left: 5px !important;
    }
    .filter-price input {
        height: calc(1.5rem);
        font-size: 6px;
    }
    .filter-price-line {
        margin: 5px;
    }
    .apply-btn {
        font-size: 7px;
        padding: 2px 17px;
        border-radius: 3px;
    }
    .filter-star i {
        padding-right: 1px;
        font-size: 7px;
    }
    .suggest-pro-box {
        width: 66%;
    }
    .suggest-pro-box .product {
        width: 49%;
        margin-bottom: 5px;
    }
    .suggest-pro-box .title-product, .suggest-pro-box .product-price {
        font-size: 7px;
        margin-bottom: 5px;
    }
    .suggest-pro-box .ctv-price {
        font-size: 5px;
        margin-bottom: 0 !important;
    }
    .re-flex-column {
        flex-direction: column;
        margin-bottom: 5px;
    }
    .suggest-pro-box .register-ctv-btn {
        margin-bottom: 0 !important;
        font-size: 5px;
    }
    .list-category h1 {
        font-size: 12px;
    }
    .content h3, footer h3 {
        font-size: 11px;
    }
    .category-content, .item-content a {
        font-size: 10px;
    }
    .bottom-header {
        justify-content: left !important;
    }
    .top-header {
        text-align: left;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .img-r-header {
        width : 25px;
        height: 25px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .small-ad {
        margin-bottom: 4px !important;
    }
    .div-icon {
        width: 45px;
    }
    .icon {
        height: 45px;
    }
    .div-icon p {
        font-size : 9px;
    }
    .mt-3  {
        margin-top: 5px !important;
    }
    .font-14 {
        font-size: 11px;
    }
    .title-box, .read-more, .fa-chevron-right {
        font-size: 11px;
    }
    .logo-box {
        width: 80px;
    }
    .owl-prev img, .owl-next img {
        width: 10px;
        height: 13px;
    }
    .logo-box .flash-icon {
        width: 15px;
        left: 8px;
        top: 5px;
    }
    .div-timeline span {
        font-size: 11px;
        padding: 4px 5px;
    }
    .input-search {
        font-size: 10px;
        padding-left: 0;
    }
    .title-filter {
        font-size: 11px;
    }
    .level, .silver-level-icon {
        display: none;
    }
    .container-fluid {
        padding: 0 15px;
    }
    .box-flashsale {
        flex-direction: column;
    }
    .custom-logo-box {
        width: 100%;
        display: flex;
        margin-bottom: 10px;
    }
    .flash-txt {
        margin-right: 10px;
        font-size: 16px;
    }
    .div-timeline span {
        padding:5px 8px;
    }
    .btn-submit {
        font-size: 11px;
        padding: 4px 25px;
        bottom: 5px;
    }
    .shopping-mall-info {
        flex-direction: column;
        align-items: flex-start !important;
    }
    .title-product, .product-price{
        font-size: 11px;
    }
    .ctv-price {
        font-size: 8px;
        margin-bottom: 5px !important;
    }
    .register-ctv-btn {
        padding: 3px 2px;
        font-size: 7px;
        margin-bottom: 5px !important;
    }
    .star-icon i {
        font-size: 6px;
    }
    .fa-thumbs-up {
        font-size: 9px;
    }
    .amount-sale, .address-product {
        font-size: 11px;
    }
    .content-product {
        padding: 4px !important;
    }
    .type-product span {
        font-size: 11px;
        margin-right: 10px;
    }
    .suggest-pro-box .product {
        width: 49%;
    }
    .box-filter {
        width: 32%;
    }
    .suggest-pro-box {
        width: 67%;
    }
    .box-filter {
        font-size: 11px;
    }
    .box-filter label {
        margin-top: 1px;
    }
    input[type=checkbox] {
        height: 11px;
    }
    .box-filter hr {
        margin: 10px 0 !important;
    }
    .filter-price input {
        font-size: 8px;
    }
    .apply-btn {
        font-size: 10px;
        padding: 5px 20px;
    }
    .filter-star i {
        font-size: 10px;
        padding-right: 3px
    }
    .suggest-pro-box .title-product, .suggest-pro-box .product-price{
        font-size: 12px;
    }
    .suggest-pro-box .register-ctv-btn {
        font-size: 8px;
    }
    .suggest-pro-box .star-icon i {
        font-size: 8px;
    }
    .suggest-pro-box .fa-thumbs-up {
        font-size: 11px;
    }
    .suggest-pro-box .address-product, .suggest-pro-box .amount-sale {
        font-size: 12px;
    }
    .content-product {
        padding: 6px !important;
    }
    .list-category h1 {
        font-size: 14px;
    }
    .content h3, footer h3, .category-content {
        font-size: 12px;
    }
    .bottom-header {
        justify-content: flex-start !important;
    }
    .top-header {
        text-align: left;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .level, .silver-level-icon {
        display: block;
    }
    .silver-level-icon {
        width: 15px;
    }
    .icon img {
        width: 25px;
    }
    .div-icon {
        width: 40px;
    }
    .icon {
        height: 40px;
        border-radius: 10px;
    }
    .logo-box {
        width: 90px;
    }
    .title-box, .read-more {
        font-size: 13px;
    }
    .custom-logo-box {
        width: 100%;
    }
    .flash-txt {
        font-size: 18px;
    }
    .title-product, .product-price {
        font-size: 13px;
    }
    .register-ctv-btn {
        font-size: 8px;
        padding: 5px;
    }
    .star-icon i {
        font-size: 10px;
    }
    .fa-thumbs-up {
        font-size: 12px;
    }
    .amount-sale, .address-product {
        font-size: 13px;
    }
    .type-product span {
        font-size: 12px;
    }
    .box-filter {
        font-size: 12px;
    }
    .font-14 {
        font-size: 13px;
    }
    .title-filter {
        font-size: 13px;
    }
    .filter-price input {
        font-size: 11px;
    }
    .apply-btn {
        font-size: 12px;
    }
    .filter-star i {
        font-size: 11px;
        padding-right: 5px;
    }
    .suggest-pro-box .title-product, .suggest-pro-box .product-price {
        font-size: 14px;
    }
    .suggest-pro-box .star-icon i {
        font-size: 10px;
    }
    .suggest-pro-box .fa-thumbs-up {
        font-size: 13px;
    }
    .suggest-pro-box .amount-sale, .suggest-pro-box .address-product {
        font-size: 14px;
    }
    .content-product {
        padding: 8px !important;
    }
    .list-category h1 {
        font-size: 16px;
    }
    .content h3, footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 13px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img-r-header {
        width : 28px;
        height: 28px;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .font-12 {
        font-size: 11px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .div-icon {
        width: 45px;
    }
    .icon {
        height: 45px;
    }
    .div-icon p {
        font-size : 10px;
    }
    .font-14 {
        font-size: 13px;
    }
    .title-box, .read-more {
        font-size: 14px;
    }
    .logo-box {
        width: 100px;
    }
    .custom-logo-box {
        width: 250px;
    }
    .logo-box .flash-icon {
        width: 22px;
    }
    .div-timeline span {
        padding: 8px;
    }
    .input-search {
        font-size: 12px;
        padding-left: 0;
    }
    .custom-logo-box-2 {
        width: 50px;
    }
    .custom-input-search {
        padding-left: 28px;
    }
    .btn-submit {
        padding : 5px 30px;
        bottom : 5px;
    }
    .font-11 {
        font-size: 10px;
    }
    .ml-3 {
        margin-left: 5px !important;
    }
    .type-product {
        font-size: 13px;
    }
    .title-product, .product-price, .amount-sale, .address-product, .fa-thumbs-up {
        font-size: 14px;
    }
    .ctv-price {
        font-size: 9px;
    }
    .box-filter {
        font-size: 12px;
    }
    .apply-btn {
        font-size: 12px;
        padding: 5px 30px;
    }
    .filter-star i {
        padding-right: 3px;
        font-size: 12px;
    }
    .list-category h1 {
        font-size: 20px;
    }
    .content h3, .footer h3 {
        font-size: 12px;
    }
    .category-content, .item-content a {
        font-size: 12px;
    }
    .top-box .input-search {
        width: 40%;
    }
    .box-flashsale {
        flex-direction: row;
    }
    .flash-txt {
        font-size: 20px;
    }
    .shopping-mall-info {
        flex-direction: row;
    }
    .item-sp-mall img {
        width: 16px;
    }
    .owl-prev img {
        width: 13px;
        height: 16px;
    }
    .type-product span {
        font-size: 13px;
    }
    .box-filter {
        width: 22%;
    }
    .suggest-pro-box {
        width: 76%;
    }
    .suggest-pro-box .product {
        width: 32%;
    }
    .item-sp-mall {
        margin-top: 15px !important;
    }
    .title-filter {
        font-size: 13px;
    }
    .box-filter p {
        font-size: 14px;
    }
    input[type=checkbox] {
        height: 12px;
    }
    .box-filter label {
        margin-top:  0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img-r-header {
        width : 25px;
        height : 25px;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size: 14px;
    }
    .font-12 {
        font-size: 12px;
    }
    .b-search-header ul li a {
        font-size: 12px;
    }
    .icon-search span {
        font-size: 15px;
    }
    .input-search select, .username, .level {
        font-size :  16px;
    }
    .progress {
        width : 90px;
        height : 10px;
    }
    .flag-lang img {
        width : 32px;
        height : 20px;
    }
    .div-icon {
        width: 59px;
    }
    .icon {
        height: 59px;
    }
    .div-icon p {
        font-size : 12px;
    }
    .font-14 {
        font-size: 14px;
    }
    .title-box, .read-more {
        font-size: 16px;
    }
    .logo-box {
        width: 120px;
    }
    .custom-logo-box {
        width: 435px;
    }
    .logo-box .flash-icon {
        width: 26px;
    }
    .input-search {
        font-size: 14px;
        padding-left: 10px;
    }
    .custom-logo-box-2 {
        width: 50px;
    }
    .custom-input-search {
        padding-left: 0;
    }
    .btn-submit {
        padding: 7px 45px;
        bottom : 15px;
    }
    .font-11 {
        font-size: 11px;
    }
    .ml-3 {
        margin-left: 1rem !important;
    }
    .type-product {
        font-size: 16px;
    }
    .title-product, .product-price, .amount-sale, .address-product, .fa-thumbs-up {
        font-size: 14px;
    }
    .ctv-price {
        font-size: 10px;
    }
    .apply-btn {
        font-size: 14px;
        padding: 7px 45px;
    }
    .filter-star i {
        padding-right: 7px;
    }
    .list-category h1 {
        font-size: 24px;
    }
    .content h3, .footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 14px;
    }
    .type-product span {
        font-size: 16px;
        margin-right: 20px;
    }
    .title-filter ,.box-filter p{
        font-size: 16px;
    }
    .box-filter {
        font-size: 14px;
    }
    input[type=checkbox] {
        height : 16px
    }
    .suggest-pro-box .title-product, .suggest-pro-box .product-price {
        font-size: 14px;
    }
    .ctv-price {
        font-size: 10px;
    }
    .register-ctv-btn {
        font-size: 9px;
        padding: 2px 5px;
    }
    .star-icon i{
        font-size: 10px;
    }
    .flash-txt {
        font-size: 24px;
    }
    .custom-logo-box {
        font-size: 24px;
    }
    .box-flashsale .input-search {
        width: 75%;
    }
    .flash-txt img {
        width: 30px;
        height: 30px;
    }
    .div-timeline span {
        padding: 4px 8px;
        font-size: 16px;
    }
    .owl-prev img, .owl-next img {
        width: 12px;
        height: 20px;
    }
    .container-fluid {
        padding: 0 40px;
    }
    .suggest-pro-box .amount-sale, .suggest-pro-box .address-product {
        font-size: 14px;
    }
    .suggest-pro-box .star-icon i {
        font-size: 9px;
    }
    .fa-thumbs-up {
        font-size: 14px;
    }
    .suggest-pro-box .product {
        width: 24%;
    }
}
