* {
    font-family: Nunito;
    font-style: normal;
    font-size: 24px;
}
/* header*/
header {
    height : 100px;
}
header .container-fluid, header .row {
    height: 100%;
}
.align-items-center {
    display : flex;
    align-items: center;
    justify-content: center;
}
.header-title {
    font-weight: 700;
    align-items: center;
    font-size: 22px;
}
.logo {
    border-right : 2px solid black;
    margin-right: 10px;
    padding-right: 10px;
}
.login-title {
    font-weight: bold;
    line-height: 28px;
    font-size: 22px;
}
/* slide */
.slide-bg {
    background: url('../image/slide-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.slide-hr {
    background-color: #FFFFFF;
    height: 22px;
    width: 106px;
}
.single-slider {
    font-family: Open Sans;
    font-weight : 400;
    font-size: 20px;
    line-height: 28px;
}
.form-login {
    background-color: #FFFFFF;
    margin : 50px;
    border-radius: 20px;
    padding : 30px;
    color: #8C8C8C;
}
.form-login label, .form-login p, .form-login a, .form-login button, .form-login span {
    font-size: 13px;
    height: 100%;
    font-weight: 600;
}
.form-login input {
    font-size: 12px;
    font-weight: normal;
    height: 100%;
}
.btn-submit {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color : #FFFFFF;
    border : none;
    padding: 5px 55px;
    cursor: pointer;
}
.slide-introduce {
    font-family: Open Sans;
    font-weight : 400;
    line-height: 28px;
    color: #FFFFFF;
    bottom : 310px;
    left: 150px;
}
.slide-introduce p {
    font-size: 20px;
}
.form-title {
    font-weight: 700;
    font-size: 30px !important;
    color: black;
}
.get-opt {
    width: 28%;
    background: #FF0000;
    border-radius: 0px 4px 4px 0px;
    border: none;
    color: white;
    line-height: 1.5;
    cursor: pointer;
    padding: .315rem 0;
}
.phone-input {
    width: 70%;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-right: 5px;
}
label {
    margin-top: 0.35rem;
    margin-bottom: 0.15rem;
}
.icon-password {
    top : 0;
    right : 10px;
}
.icon-password i {
    font-size: 14px;
    top : 0;
    right : 10px;
    cursor: pointer;
}
/* content */
.main-content h1 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 125%;
    color: #4F4F4F;
}
.content h3, footer h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    /* or 20px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #747474;
}
.group-box, .content-footer {
    margin-right : 5px;
}
.category-content, .item-content a {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #827C7C;
}
.content-footer ul li {
    list-style: none;
}
.item-content img, .content-footer img {
    max-width: 100%;
}
.item-content img {
    padding-right: 10px;
}
.content-box {
    width : 210px;
    margin : 0 5px;
    height: 100%;
}
/* footer*/
.content-footer {
    width : 210px;
    margin : 0 5px;
}
.chatbox {
    position: relative;
}
.chatbox img {
    width :  130px;
    position: absolute;
    right: 25px;
    bottom : 10px;
    object-fit: cover;
}