* {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
}
main {
    background: #E5E5E5;
}
button:focus {
    outline: none;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-11 {
    font-size: 11px;
}
/* header*/
.banner-header {
    width : 100%;
}
.banner-header img {
    max-width: 100%;
}
.header {
    background-image: url('../image/header-bg.png');
    background-size: cover;
    margin : 0;
    background-repeat: no-repeat;
}
.left-header {
    height : 100%;
}
.top-header {
    text-align: center;
}
.top-header ul, .b-search-header ul {
    padding : 0;
}
.top-header ul li, .b-search-header ul li {
    list-style: none;
    display: inline;
    padding-right : 15px;
}
.top-header ul li a{
    color: white;
    font-size: 14px;
}
.b-search-header ul li a {
    font-size: 12px;
    color: white;
}
.logo {
    width : 120px;
}
.logo img {
    max-width: 100%;
}
.input-search {
    width : 90%;
    font-size: 14px;
    padding-left: 10px;
}
.input-search input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border : none;
    border-radius: 4px 0px 0px 4px;
}
.input-search select {
    color: #8C8C8C;
    border-radius: 0px 4px 4px 0px;
}
.icon-search {
    top : 6px;
    left : 10px;
    font-size: 16px;
    color : #8C8C8C;
}
.icon-camera {
    top : 6px;
    right : 10px;
}
.img-r-header {
    width : 30px;
    height: 30px;
    margin : 0 auto;
}
.img-r-header img {
    max-width: 100%;
}
.right-header .bottom-header a {
    text-decoration: none;
}
/* main */
    /*banner-info*/
.flag-lang img {
    width : 32px;
    height : 20px;
    object-fit: cover;
}
.select-lang select {
    border: none;
    color: #333333;
    background: #E5E5E5;
    transition: none;
}
.select-lang select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}
.coin-icon {
    width: 12px;
    height: 12px;
    object-fit : cover;
}
.coin {
    color : #FFC303;
}
.total-coin {
    justify-content: space-between;
    width: 70px;
}
.progress {
    width: 90px;
    height: 10px;
    border-radius: 2px;
}
.progress-bar {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.medal-icon {
    width: 18px;
    height: 23px;
    object-fit: cover;
}
.img-account img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit: cover;
}
.silver-level-icon {
    width: 14px;
    height: 9px;
    object-fit: cover;
}
.level {
    color: #8C8C8C;
}
.username {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}  
    /* owl-carousel */
.owl-prev span{
    color: #FFC303;
    width: 18px;
    height : 20px;
}
.owl-prev img, .owl-next img {
    width : 12px; 
    height : 20px;
    object-fit: cover;
}
.owl-prev {
    position: absolute;
    width : 36px;
    height : 36px;
    left: -18px;
    top: 7%;
    border-radius : 50%;
    background: white !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-prev:focus, .owl-next:focus {
    outline: none;
}
.owl-next {
    position: absolute;
    width : 36px;
    height : 36px;
    right: -18px;
    top: 7%;
    border-radius : 50%;
    background: white !important;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-stage {
    display: flex;
    align-items: center;
}
#owl-carousel-1 .owl-prev, #owl-carousel-1 .owl-next {
    top : 25%;
    width : 25px;
    height : 25px;
}
#owl-carousel-1 .owl-prev {
    left: -12px;
}
#owl-carousel-1 .owl-next {
    right: -12px;
}
#owl-carousel-1 .owl-prev img, #owl-carousel-1 .owl-next img {
    width: 10px;
    height: 13px;
}
#owl-carousel-2 .owl-prev, #owl-carousel-2 .owl-next {
    top : 40%;
}
#owl-carousel-3 .owl-prev, #owl-carousel-3 .owl-next {
    top : 40%;
}
.product-detail-group {
    display: flex;
}
.owl-carousel .active {
    color: black !important;
    background: none !important;
}
/* product-img */
.product-detail {
    width: 72%;
}
.pro-item {
    padding-left: 15px;
    padding-top : 15px;
}
.div-offset-1 {
    width: 10%;
}
.div-offset-2 {
    width: 18%;
}
.product-img {
    padding-left: 0px;
}
.img-brand img {
    height: 62px;
    border-radius: 4px;
    cursor: pointer;
    object-fit: cover;
}
#img-1 {
    border: 2px solid red;
    border-radius: 4px;
}
.pro-img-large img, .scale-large-img img {
    height: 352px;
    object-fit: cover;
    width: 100%;
}
.list-product-img {
    display: flex;
    flex-wrap: wrap;
}
.product {
    width: 30%;
    margin : 5px 5px 0 0;
    cursor: pointer;
}
.product img {
    height: 87px;
    object-fit: cover;
}
.origin-price {
    color: #8C8C8C;
    margin-right: 15px;
    font-size: 18px;
    text-decoration: line-through;
}
.discount-price, .sign-money {
    font-weight: bold;
    font-size: 26px;
    color: #EE0008;
}
.sign-money {
    font-size: 16px;
}
.title-product {
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize
}
.star-icon i {
    font-size: 12px;
    color: #FFBB00;
}
.evaluation div {
    margin-right: 20px;
}
.amount-evaluation, .amount-saled {
    font-weight: bold;
}
.evaluation-txt, .saled-txt {
    color: #8C8C8C;
}
.upgrade-txt i {
    font-size: 18px;
    margin-right: 5px;
    color: #FFBB00;
}
.upgrade-txt span {
    font-size: 14px;
}
.upgrade-txt {
    padding : 10px;
    background: rgba(255, 184, 0, 0.1);
    border-radius: 6px;
    border-style: dashed;
    border-color : orange
}
.upgrade-option {
    margin-top : 20px;
}
.price-ctv, .profit, .deal, .delivery-txt, .color-txt, .size-txt {
    font-size: 14px;
    color: #8C8C8C;
    width: 87px;
    margin-right: 10px;
}
.register-ctv-btn, .deal-btn {
    color: #FF0000;
    letter-spacing: 0.02em;
    font-size: 12px;
    border: 0.75px solid #FF0000;
    box-sizing: border-box;
    border-radius: 4px;
    padding : 5px;
}
.deal-btn {
    padding: 3px;
}
.register-ctv-btn span, .deal-btn span {
    font-weight: bold;
}
.register-ctv {
    margin-right: 50px;
}
.profit-money {
    font-weight: bold;
    font-size: 16px;
    color: #FF0000;
}
.deal-price, .delivery, .product-size, .product-color, .buy-btn-group {
    margin-top: 10px;
}
.delivery p {
    font-size: 14px;
    margin-bottom: 5px;
}
.color-group span, .size {
    font-size: 12px;
    margin-right: 20px;
    padding : 5px 20px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 4px;
}
.size {
    padding: 3px 25px;
}
.active {
    color: white;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%) !important;
}
.amount-left {
    font-size: 14px;
    margin-right: 20px;
    color: #8C8C8C;
}
.amount-buy span {
    cursor: pointer;
    margin-right: 10px;
}
.size-item {
    margin-bottom: 10px;
    align-items: center;
}
.amount-buy .fa-minus-square {
    color: #ECECEC;
}
.amount-buy .fa-plus-square {
    color: #e60000;
}
.group-size {
    text-align: center;
}
.read-more, .read-more i {
    font-weight: bold;
    font-size: 14px;
}
.buy-btn-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.buy-btn-group span{
    font-weight: bold;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 7px 13px;
    display: flex;
    font-size: 14px;
    align-items: center;
}
.buy-btn-group img {
    margin-right: 10px;
}



.share-txt {
    font-size: 14px;
}
.share-group img {
    width: 23px;
    height: 23px;
    margin-left: 10px;
    object-fit: cover;
}
.share-group {
    margin-top: 10px;
    justify-content: space-between;
}
.total-like span{
    font-size: 14px;
}
.total-like i {
    color: #CBC4C4;
}
.handle-btn img {
    width: 17.5px;
    height: 16.5px;
    object-fit: cover;
    margin-right: 5px;
}
.handle-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}
.handle-btn span {
    border: 1px solid #ECECEC;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 12px;
    display: flex;
    align-items: center;
}
.product-detail hr {
    margin: 20px 0;
    padding: 0;
}
/* order-detail */
.order-detail {
    margin-left: 10px;
    padding: 20px 10px;
    text-align: center;
}
.avatar-group {
    display: flex;
    background: #FFFCF2;
    align-items: center;
    padding: 5px 0;
}
p {
    margin: 0;
}
.row {
    margin: 0;
}
.avatar-group img {
    width: 40px;
    height : 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}
.username {
    font-weight: bold;
    font-size: 14px;
}
.amount-buy {
    display: flex;
}
.pro-order-name {
    font-size: 14px;
}
.price-txt, .award-txt {
    font-size: 12px;
}
.pro-order-price {
    font-size: 14px;
    font-weight: bold;
    color: #FF0000;
}
.pro-order-award {
    font-size: 12px;
    color: #FF0000;
}
.total-price-group {
    background: #FFFCF2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin: 15px 0;
}
.total-price-txt {
    font-size: 14px;
    font-weight: bold;
}
.total-price {
    font-size: 18px;
    color: #FF0000;
    font-weight: bold;
}
.order-btn {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 8px 35px;
}
/* deal-group */
.deal-group {
    margin-top: 20px;
    padding: 15px 0 15px 15px;
}
.deal-group .fa-plus {
    margin: 0 20px;
}
.pro-deal-group {
    flex-wrap: wrap;
    align-items: center;
}
.pro-deal  {
    width: 15%;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

}
.pro-deal-name {
    font-size: 14px;
    font-weight: bold;
}
.pro-deal-price {
    font-weight: bold;
    font-size: 12px;
    color: #FF0000;
}
.pro-orgin-price {
    font-weight: 600;
    font-size: 9px;
    text-decoration-line: line-through;
    color: #8C8C8C;
}
.pro-deal-content {
    padding: 5px;
}
.pro-deal-price-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pro-deal-txt {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-bottom: 5px;
}
.pro-deal-content i {
    color: #CBC4C4;
    float: right;
    font-size: 14px;
    margin: 5px 0 10px 0;
}
.deal-total-price-group .item {
    display: flex;
    align-items: center;
}
.item-txt {
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.02em;
    margin-right: 5px;
}
.item-price {
    font-weight: bold;
    font-size: 22px;
    color: #FF0000;
}
.deal-total-price-group {
    align-self: start;
    margin-left: 20px;
}
.add-all-cart, .add-all-like {
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    padding: 7px 35px;
}
.add-all-cart {
    color: white;
    margin: 10px 0;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.add-all-like {
    border: 2px solid #ECECEC;
}
/* suggest-shop */
.avatar-shop {
    width: 74px;
    height : 74px;
}
.avatar-shop img {
    border-radius: 50%;
}
.suggest-shop {
    padding: 20px;
    /* transition: box-shadow .3s; */
    margin: 20px 0;
}
/* .suggest-shop:hover {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
    transform: translateY(-.125rem);
} */
.suggest-shop p {
    margin-bottom: 0px;
}
.favor-shop {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 9.93628px;
    bottom: 0;
}
.favor-shop p {
    color: white;
    padding: 2px 7px;
    font-size: 10px;
}
.amount-follow, .total-product, .total-evaluation, .feedback-rate, .feedback-time {
    color: #FF0000;
}
.title-shop {
    font-weight: 600;
    margin-bottom: 0;
}
.info-shop {
    margin-right: 7px;
}
.total-product, .total-evaluation, .feedback-rate, .feedback-time {
    font-size: 18px;
}
.suggest-shop>div {
    border-right: 1px solid #ECECEC ;
}
.div-info-shop {
    width: 35%;
}
.div-total-product, .div-total-evaluation {
    width: 15%;
}
.div-feedback-rate, .div-feedback-time {
    width: 17%;
}
.div-feedback-time {
    border-right: none !important;
}
.btn-contact-group p {
    font-size: 14px;
    font-weight: 600;
}
.btn-contact-group div {
    display: flex;
    align-items: center;
    border-radius: 6px;
    padding: 5px 10px;
}
.btn-contact-group {
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
}
.chatbox-btn {
    color: white;
    margin-right: 5px;
    background: #005DB6;
}
.detail-shop-btn {
    border: 1px solid #ECECEC;
}
.chatbox-btn img {
    width: 14px;
    margin-right: 5px;
}
.detail-shop-btn img {
    margin-right: 5px;
}
.online-time {
    margin-top: 5px;
    font-size: 9px;
    color: #8C8C8C;
}
/* detail-info */
.detail-info {
    padding : 15px;
}
.item-info {
    display: flex;
}
.item-info-txt {
    width: 200px;
    font-size: 14px;
    color: #8C8C8C;
}
.detail-info-txt {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
}
.intem-info .item-content {
    font-size: 14px;
}
.item-cate-txt {
    color: #005DB6;
}
.detail-info .col-6 {
    padding : 0;
}
/* description */
.description {
    padding: 15px;
    margin-top: 20px;
}
.des-txt {
    font-weight: 600;
    font-size: 18px;
}
.des-content {
    font-size: 14px;
}
/* product-viewed */
.product-viewed-group {
    margin-top : 20px;
    padding : 15px 0;
}
.product-viewed {
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.05));
    border-radius: 4px;
    border : 2px solid #FFBB00;
    margin-bottom: 5px;
}
.pro-viewed-txt {
    font-size: 18px;
    letter-spacing: 0.02em;
    font-weight: 800;
    letter-spacing: 0.02em;
    margin: 0 0 15px 15px;
    text-transform: uppercase;
}
.product-price {
    color: #FF0000;
}
.register-ctv-btn {
    letter-spacing: 0.02em;
    color: #FF0000;
    border-radius: 4px;
    font-size : 9px;
    border : 1px solid #FF0000;
    background-color: white;
    font-weight: bold;
    padding : 2px 5px;
}
.star-icon i {
    font-size: 8px;
}
.title-product, .product-price {
    font-size: 14px;
    font-weight: bold;
}
.ctv-price {
    font-size : 12px;
    font-weight: bold;
}
.amount-sale, .address-product {
    font-size: 14px;
    color: #4F4F4F;
}
.product-viewed .fa-thumbs-up {
    color: #CBC4C4;
    font-size: 12px;
}
/* evalution-group */
.evaluation-group {
    margin-top: 20px;
    padding-bottom: 30px;
}
.evaluation-group .evaluation-txt {
    font-weight: bold;
    font-size: 18px;
    color: black;
    padding-left: 30px;
    padding-top: 20px;
    text-transform: capitalize;
}
.eval-star-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.eval-star-total {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-right: 2px solid #ECECEC;
}
.eval-level-group {
    margin-left: 6%;
}
.eval-level-item {
    display: flex;
    align-items: center;
}
.eval-level-item .progress {
    border-radius: 4px;
    width: 167px;
    height: 7px;
    margin: 0 30px;
}
.w-90 {
    width: 90%;
}
.w-20 {
    width : 20%;
}
.w-30 {
    width : 30%;
}
.eval-level-item .progress-bar {
    background: #005DB6;
}
.eval-star-group .star-icon i{
    font-size: 13px;
    margin-right: 5px;
}
.eval-star-group .star-icon {
    margin-bottom: 10px;
}
.eval-score {
    font-size: 36px;
    font-weight: bold;
    text-transform: capitalize;
}
.total-comment {
    font-size: 14px;
    text-transform: capitalize;
    color: #8C8C8C;
}
.filter-type span {
    font-size : 12px;
    letter-spacing: 0.02em;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 8px;
    padding : 8px 15px;
    margin-right : 10px
}
.filter-txt {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-right: 10px;
    padding-left: 30px;
}
.filter-group {
    display: flex;
}
.filter-type i {
    color: #FFBB00;
}
.none-active {
    color: #B2B2B2 !important;
}
.avatar-user img{
    width: 55px;
    height: 55px;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 50%;
}
.comment-group {
    display: flex;
}
.comment-group .username {
    font-weight: bold;
    font-size: 14px;
}
.type-pro {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: #BDBDBD;
}
.comment-pro {
    font-size: 14px;
}
.comment-img img {
    width: 85px;
    height: 85px;
    margin-right: 5px;
    object-fit: cover;
}
.evaluation-pro {
    padding: 0 0 30px 30px;
}
.comment-content .star-icon i {
    font-size: 10px;
}
.comment-group {
    margin-top: 20px;
}
.eval-pro-txt {
    font-weight: 800;
    font-size: 18px;
}
.pagination {
    padding-bottom: 15px;
    float: right;
}
.pagination span {
    width: 35px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    border-radius: 50%;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.25));
    background: #FFFFFF;
}
.none-filter {
    filter: none !important;
}
/* pro-shop-group */
.pro-shop-group {
    padding: 15px 0;
    margin-top: 20px;
}
.pro-shop-txt {
    padding-left: 30px;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
/* fash-order */
.fash-pro-img img {
    width: 85px;
    height: 85px;
    object-fit: cover;
}
.fash-order-txt {
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}
.info-sender-txt, .info-receiver-txt, .fash-pro-txt {
    font-weight: bold;
    font-size: 16px;
}
.info-receiver-txt, .fash-pro-txt {
    margin-bottom: 10px;
}
.info-receiver input {
    margin-bottom: 10px;
}
.display-info {
    margin: 10px 0;
}
.fash-pro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.fash-pro-img {
    width: 20%;
    margin-right: 2%;
}
.fash-pro-content {
    width: 78%;
}
.fash-origin-price {
    font-size: 18px;
    text-decoration-line: line-through;
    color: #8C8C8C;
}
.fash-price {
    font-weight: bold;
    font-size: 24px;
    margin: 0 25px 0 10px;
    color: #EE0008;
}
.fash-price-group {
    display: flex;
    align-items: center;
}
.fash-total-price-box {
    margin-top: 10px;
    padding: 20px 55px;
    text-align: center;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 0px 0px 16px 16px; 
    color: white;
}
#FashOrder .modal-body {
    padding: 0;
}
#FashOrder .modal-content {
    border-radius: 16px;
}
.modal-body-custom {
    padding: 15px;
}
.fash-pro-name {
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}
.fash-total-price-box p {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}
.fash-total-price-box span {
    font-weight: bold;
    font-size: 14px;
}
.create-order {
    cursor: pointer;
   padding: 10px 40px;
   background: white;
   color: #EE0008;
   border-radius: 8px;
}
.fash-total-price-box p:nth-child(2) {
    margin-bottom: 30px;
}
.display-info label, .info-receiver input {
    font-size: 14px;
}
/* sweetalert custom */
.swal2-styled.swal2-confirm {
    padding: 8px 50px !important;
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%) !important;
}
.swal2-title {
    color: #FF0000;
}
.swal2-modal {
    height: 230px;
    width: 384px;
}
.swal2-title {
    font-size: 18px;
}
.swal2-icon-show {
    margin-top: 10px;
    margin-bottom: 20px;
}
/* footer */
.list-category h1 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 125%;
    color: #4F4F4F;
}
.content h3, footer h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    /* or 20px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #747474;
}
.group-box, .content-footer {
    margin-right : 5px;
}
.category-content, .item-content a {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #827C7C;
}
.content-footer ul li {
    list-style: none;
    max-width: 100%;
}
.item-content img {
    padding-right: 10px;
}
.content-box {
    width : 210px;
    margin : 0 5px;
    height: 100%;
}
.content-footer {
    width : 210px;
    margin : 0 5px;
}
.chatbox {
    position: relative;
}
.chatbox img {
    width :  130px;
    position: absolute;
    right: 25px;
    bottom : 10px;
    object-fit: cover;
}

/* responseive */
@media only screen and (max-width: 600px) {
    .logo {
        width: 80px;
        margin-top: 0 !important;
        margin-bottom: 5px;
    }
    .top-header {
        padding-top : 5px !important;
    }
    .top-header ul li a{
        font-size: 11px;
    }
    .top-header ul {
        margin-bottom: 0;
    }
    .input-search {
        padding-right: 8px;
    }
    .input-search input, .input-search select {
       height : calc(1.85rem);
       font-size: 11px;
    }
    .icon-camera {
        top : 4px;
        width: 20px;
    }
    .input-search span{
        font-size: 11px;
    }
    .b-search-header {
        display: none;
    }
    .img-r-header {
        width : 20px;
    }
    .bottom-header {
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .font-12 {
        font-size: 10px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    .bottom-header a:first-child {
        padding-left : 0 !important;
    }
    .flag-lang img{
        width: 20px;
        height: 12px;
    }
    .select-lang select, .my-shop {
        font-size: 11px;
    }
    .total-coin, .level, .username {
        font-size: 11px;
    }
    .medal-icon {
        display: none;
    }
    .silver-level-icon {
        display: none;
    }
    .my-level {
        font-size: 10px;
    }
    .level {
        display: none;
    }
    .progress {
        width: 55px;
        height: 4px;
    }
    .top-box {
        padding: 10px;
        flex-direction: column;
    }
    .font-14 {
        font-size: 11px;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .img-r-header {
        width : 25px;
        height: 25px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 11px;
    }
    .owl-prev img, .owl-next img {
        width: 10px;
        height: 13px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .level, .silver-level-icon {
        display: block;
    }
    .silver-level-icon {
        width: 15px;
    }
    .content h3, footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 13px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img-r-header {
        width : 28px;
        height: 28px;
    }
    .top-header {
        text-align: center;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .font-12 {
        font-size: 11px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 13px;
    }
    .font-11 {
        font-size: 10px;
    }
    .list-category h1 {
        font-size: 20px;
    }
    .content h3, .footer h3 {
        font-size: 12px;
    }
    .category-content, .item-content a {
        font-size: 12px;
    }
    .owl-prev img {
        width: 13px;
        height: 16px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img-r-header {
        width : 25px;
        height : 25px;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size: 14px;
    }
    .font-12 {
        font-size: 12px;
    }
    .b-search-header ul li a {
        font-size: 12px;
    }
    .icon-search span {
        font-size: 15px;
    }
    .input-search select, .username, .level {
        font-size :  16px;
    }
    .progress {
        width : 90px;
        height : 10px;
    }
    .flag-lang img {
        width : 32px;
        height : 20px;
    }
    .font-14 {
        font-size: 14px;
    }
    .font-11 {
        font-size: 11px;
    }
    .list-category h1 {
        font-size: 24px;
    }
    .content h3, .footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 14px;
    }
}
