* {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
}
img {
    max-width: 100%;
}
main {
    background: #E5E5E5;
}
button:focus {
    outline: none;
}
.font-13 {
    font-size: 13px;
}
.font-12 {
    font-size: 12px;
}
.font-14 {
    font-size: 14px;
}
.font-11 {
    font-size: 11px;
}
/* header*/
.banner-header {
    width : 100%;
}
.banner-header img {
    max-width: 100%;
}
.header {
    background-image: url('../image/header-bg.png');
    background-size: cover;
    margin : 0;
    background-repeat: no-repeat;
}
.left-header {
    height : 100%;
}
.top-header {
    text-align: center;
}
.top-header ul, .b-search-header ul {
    padding : 0;
}
.top-header ul li, .b-search-header ul li {
    list-style: none;
    display: inline;
    padding-right : 15px;
}
.top-header ul li a{
    color: white;
    font-size: 14px;
}
.b-search-header ul li a {
    font-size: 12px;
    color: white;
}
.logo {
    width : 120px;
}
.logo img {
    max-width: 100%;
}
.input-search {
    width : 90%;
    font-size: 14px;
    padding-left: 10px;
}
.input-search input {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border : none;
    border-radius: 4px 0px 0px 4px;
}
.input-search select {
    color: #8C8C8C;
    border-radius: 0px 4px 4px 0px;
}
.icon-search {
    top : 6px;
    left : 10px;
    font-size: 16px;
    color : #8C8C8C;
}
.icon-camera {
    top : 6px;
    right : 10px;
}
.img-r-header {
    width : 30px;
    height: 30px;
    margin : 0 auto;
}
.img-r-header img {
    max-width: 100%;
}
.right-header .bottom-header a {
    text-decoration: none;
}
/* main */
    /*banner-info*/
.flag-lang img {
    width : 32px;
    height : 20px;
    object-fit: cover;
}
.select-lang select {
    border: none;
    color: #333333;
    background: #E5E5E5;
    transition: none;
}
.select-lang select:focus {
    box-shadow: inset 0 -1px 0 #ddd;
}
.coin-icon {
    width: 12px;
    height: 12px;
    object-fit : cover;
}
.coin {
    color : #FFC303;
}
.total-coin {
    justify-content: space-between;
    width: 70px;
}
.progress {
    width: 90px;
    height: 10px;
    border-radius: 2px;
}
.progress-bar {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
.medal-icon {
    width: 18px;
    height: 23px;
    object-fit: cover;
}
.img-account img{
    width : 40px;
    height : 40px;
    border-radius: 50%;
    object-fit: cover;
}
.silver-level-icon {
    width: 14px;
    height: 9px;
    object-fit: cover;
}
.level {
    color: #8C8C8C;
}
.username {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}  
    /*search-tab*/
.box-item {
    border-radius: 4px;
    color: #FFFFFF;
    padding: 10px 0;
}
#owl-carousel-1 {
    width: 80%;
    margin-left: 40px;
}
.search-tab p {
    margin-bottom: 0;
}
.search-tab {
    padding: 20px;
}
.box-item-1 {
    background: #87B7FF;
}
.box-item-2 {
    background: #FFB5A5;
}
.box-item-3 {
    background-color:  #A69EFF;
}
.box-item-4 {
    background-color: #FF9292;
}
.box-item-5 {
    background-color: #00CDC1;
}
.box-item-6 {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
}
    /* owl-carousel */
.owl-item {
    margin-right : 0px imp !important;
}
.owl-prev span{
    color: #FFC303;
    width: 18px;
    height : 20px;
}
.owl-prev img, .owl-next img {
    width : 12px; 
    height : 20px;
    object-fit: cover;
}
.owl-prev {
    position: absolute;
    width : 36px;
    height : 36px;
    left: -18px;
    top: 7%;
    border-radius : 50%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-prev:focus, .owl-next:focus {
    outline: none;
}
.owl-next {
    position: absolute;
    width : 36px;
    height : 36px;
    right: -18px;
    top: 7%;
    border-radius : 50%;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}
.owl-stage {
    display: flex;
    align-items: center;
}
    /*main-content*/
.main-content {
    padding: 20px 100px;
}
.title-filter {
    font-weight: 800;
}
.box-filter {
    font-size : 14px;
    width: 16%;
    padding : 10px;
}
.div-apply-btn {
    text-align: center;
    margin-top: 10px;
}
.apply-btn {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 6px;
    color : #FFFFFF;
    border : none;
    padding: 7px 45px;
    cursor: pointer;
    font-size: 14px;
}
.filter-star i {
    color: #FFBB00;
    padding-right : 6px;
}
.active-star {
    color:#FFBB00;
}
.filter-price-line {
    margin : 5px 10px;
    color: #827C7C;
}
.filter-price input{
    font-size: 10px;
}
.product{
    width: 19%;
    margin-bottom: 10px;
    margin-right : 9px;
}
.product:hover {
    box-shadow: 0 0.0625rem 20px 0 rgba(0,0,0,.05);
    transform: translateY(-.0625rem);
    border: 1px solid #ee4d2d;
}
.suggest-pro-box {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}
.suggest-pro {
    width: 82%;
}
.suggest-pro-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.product-price {
    color: #FF0000;
}
.register-ctv-btn {
    letter-spacing: 0.02em;
    color: #FF0000;
    border-radius: 4px;
    font-size : 9px;
    border : 1px solid #FF0000;
    background-color: white;
    font-weight: bold;
    padding : 2px 5px;
}
.star-icon i {
    font-size: 10px;
    color:#FFBB00;
}
.title-product, .product-price {
    font-size: 14px;
    font-weight: bold;
}
.ctv-price {
    font-size : 10px;
    font-weight: bold;
}
.ctv-price p {
    margin : 0;
}
.product {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}
.amount-sale, .address-product {
    font-size: 14px;
    color: #4F4F4F;
}
.fa-thumbs-up {
    color: #CBC4C4;
    font-size: 14px;
}
.avatar-shop {
    width: 74px;
    height : 74px;
}
.avatar-shop img {
    border-radius: 50%;
}
.suggest-shop {
    padding: 20px;
    transition: box-shadow .3s;
    margin-bottom: 20px;
}
.suggest-shop:hover {
    box-shadow: 0 1px 8px 0 rgba(0,0,0,.2);
    transform: translateY(-.125rem);
}
.suggest-shop p {
    margin-bottom: 0px;
}
.favor-shop {
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    border-radius: 9.93628px;
    bottom: 0;
}
.favor-shop p {
    color: white;
    padding: 2px 7px;
    font-size: 10px;
}
.amount-follow, .total-product, .total-eluvation, .feedback-rate, .feedback-time {
    color: #FF0000;
}
.title-shop {
    font-weight: 600;
    margin-bottom: 0;
}
.follower, .following, .amount-follow {
    font-size: 9px;
    font-weight: 600;
}
.info-shop {
    margin-right: 7px;
}
.total-product, .total-eluvation, .feedback-rate, .feedback-time {
    font-size: 18px;
}
.suggest-shop>div {
    border-right: 1px solid #ECECEC ;
}
.div-info-shop {
    width: 33%;
}
.div-total-product, .div-total-eluvation {
    width: 15%;
}
.div-feedback-rate, .div-feedback-time {
    width: 18%;
}
.div-feedback-time {
    border-right: none !important;
}
.orderby-group .active{
    background: linear-gradient(180deg, #D1292F 0%, #FF5722 155.26%);
    color: white;
    border: none;
}
.orderby-group button {
    border-radius: 6px;
    font-size: 14px;
    color: black;
    padding: 5px 20px;
    border: 1px solid #ECECEC;
    background-color: white;
}
.orderby-group {
    padding: 20px;
    margin-bottom: 20px;
}
.orderby-group p {
    margin-bottom: 0px;
}
.orderby-group div {
    margin-right: 20px;
}
.orderby-price {
    width: 100px;
}
.orderby-price select {
    height: calc(2.05rem);
}
.orderby-title {
    font-weight: 600;
}
.next-btn-page {
    margin-right: 0;
}
.next-btn-page i, .pre-btn-page i{
    padding : 5px 10px;
}
.next-btn-page, .pre-btn-page {
    border: 1px solid #D0D0D0;
}
.current-page {
    color: #FF0000;
}
/* footer */
.list-category h1 {
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 125%;
    color: #4F4F4F;
}
.content h3, footer h3 {
    font-weight: 800;
    font-size: 14px;
    line-height: 125%;
    /* or 20px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #747474;
}
.group-box, .content-footer {
    margin-right : 5px;
}
.category-content, .item-content a {
    font-size: 13px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #827C7C;
}
.content-footer ul li {
    list-style: none;
}
.item-content img, .content-footer img {
    max-width: 100%;
}
.item-content img {
    padding-right: 10px;
}
.content-box {
    width : 210px;
    margin : 0 5px;
    height: 100%;
}
.content-footer {
    width : 210px;
    margin : 0 5px;
}
.chatbox {
    position: relative;
}
.chatbox img {
    width :  130px;
    position: absolute;
    right: 25px;
    bottom : 10px;
    object-fit: cover;
}
/* responseive */
@media only screen and (max-width: 600px) {
    .logo {
        width: 80px;
        margin-top: 0 !important;
        margin-bottom: 5px;
    }
    .top-header {
        padding-top : 5px !important;
    }
    .top-header ul li a{
        font-size: 11px;
    }
    .top-header ul {
        margin-bottom: 0;
    }
    .input-search {
        padding-right: 8px;
    }
    .input-search input, .input-search select {
       height : calc(1.85rem);
       font-size: 11px;
    }
    .icon-camera {
        top : 4px;
        width: 20px;
    }
    .input-search span{
        font-size: 11px;
    }
    .b-search-header {
        display: none;
    }
    .img-r-header {
        width : 20px;
    }
    .bottom-header {
        flex-direction: row;
        /* flex-wrap: wrap; */
    }
    .font-12 {
        font-size: 10px;
    }
    .banner-info {
        margin-bottom: 5px;
    }
    .bottom-header a:first-child {
        padding-left : 0 !important;
    }
    .flag-lang img{
        width: 20px;
        height: 12px;
    }
    .select-lang select, .my-shop {
        font-size: 11px;
    }
    .total-coin, .level, .username {
        font-size: 11px;
    }
    .medal-icon {
        display: none;
    }
    .silver-level-icon {
        display: none;
    }
    .my-level {
        font-size: 10px;
    }
    .level {
        display: none;
    }
    .progress {
        width: 55px;
        height: 4px;
    }
    .top-box {
        padding: 10px;
        flex-direction: column;
    }
    .font-14 {
        font-size: 11px;
    }
    .star-icon i {
        font-size: 5px;
    }
    .fa-thumbs-up {
        font-size : 9px;
    }
    .amount-sale, .address-product {
        font-size: 9px;
    }
    .fa-filter {
        display: none;
    }
    .title-filter {
        font-size: 10px;
        margin-left: 0px !important;
    }
    .box-filter {
        width: 30%;
        padding: 0 5px;
    }
    .box-filter {
        font-size: 9px;
    }
    .box-filter hr {
        margin : 7px 0 !important;
    }
    input[type=checkbox] {
        height: 9px;
    }
    .filter-category label, .filter-address label, .filter-price label, .filter-status label, .filter-shop label, .filter-service label {
        margin-top: 3px;
        margin-left: 5px !important;
    }
    .filter-price input {
        height: calc(1.5rem);
        font-size: 6px;
    }
    .filter-price-line {
        margin: 5px;
    }
    .apply-btn {
        font-size: 8px;
        padding: 2px 20px;
        border-radius: 3px;
    }
    .filter-star i {
        padding-right: 1px;
        font-size: 7px;
    }
    .suggest-pro {
        width: 68%;
    }
    .product {
        width: 47%;
        margin-right: 5px;
        margin-bottom: 5px;
    }
    .title-product, .product-price, .amount-sale, .address-product {
        font-size: 9px;
        margin-bottom: 5px;
    }
    .ctv-price {
        font-size: 7px;
    }
    .re-flex-column {
        flex-direction: column;
        margin-bottom: 5px;
    }
    .register-ctv-btn {
        font-size : 7px;
        margin-bottom: 0 !important;
    }
    .list-category h1 {
        font-size: 12px;
    }
    .content h3, footer h3 {
        font-size: 11px;
    }
    .category-content, .item-content a {
        font-size: 10px;
    }
    .bottom-header {
        justify-content: left !important;
    }
    .box-item {
        font-size: 10px;
        padding: 5px;
    }
    .search-tab {
        padding : 10px;
        font-size: 12px;
        margin-bottom:  10px;
    }
    .owl-prev i, .owl-next i {
        font-size: 10px;
    }
    .owl-prev, .owl-next {
        width: 25px;
        height: 25px;
        top: 5%;
    }
    .owl-prev {
        left: -12px;
    }
    .owl-next {
        right: -12px;
    }
    .main-content {
        padding : 0;
    }
    .div-info-shop {
        width: 100%;
        margin-bottom: 5px;
    }
    .suggest-shop>div {
        border: none;
    }
    .title-shop {
        font-size: 11px;
    }
    .div-info-shop .d-flex {
        flex-direction: column !important;
    }
    .favor-shop p {
        font-size: 6px;
        padding : 2px 7px;
    }
    .avatar-shop {
        width: 50px;
        height: 50px;
    }
    .div-total-product, .div-total-eluvation, .div-feedback-rate, .div-feedback-time {
        flex-direction: column !important;
        width: 50%;
        font-size: 11px;
        align-items: start !important;
    }
    .total-product, .total-eluvation, .feedback-rate, .feedback-time {
        font-size: 11px;
    }
    .orderby-title {
        font-size: 12px;
    }
    .orderby-group div {
        margin-right: 5px;
    }
    .box-order {
        flex-direction: column;
    }
    .box-order .d-flex {
        justify-content: center;
        align-items: center;
    }
    .orderby-group {
        padding: 10px;
        align-items: start !important;
        flex-direction: column;
    }
    .orderby-group button {
        font-size: 9px;
        padding: 2px 5px;
    }
    .orderby-price select {
        font-size: 11px;
        height: calc(1.9rem);
    }
    .pagination {
        width: 98%;
        margin-top: 10px;
        font-size: 11px;
        flex-direction: row;
    }
    .top-header {
        text-align : left;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .img-r-header {
        width : 25px;
        height: 25px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 11px;
    }
    .owl-prev img, .owl-next img {
        width: 10px;
        height: 13px;
    }
    .title-filter {
        font-size: 11px;
    }   
    .title-product, .product-price, .amount-sale,.address-product {
        font-size: 12px;
    }
    .ctv-price {
        font-size: 9px;
    }
    .register-ctv-btn {
        padding: 3px 2px;
        font-size: 8px;
    }
    .star-icon i {
        font-size: 7px;
    }
    .fa-thumbs-up {
        font-size: 9px;
    }
    .content-product {
        padding: 4px !important;
    }
    .type-product span {
        font-size: 11px;
        margin-right: 10px;
    }
    .product {
        width: 31%;
    }
    .box-filter {
        width: 25%;
    }
    .suggest-pro {
        width: 73%;
    }
    .box-filter {
        font-size: 13px;
    }
    .box-filter label {
        margin-top: 1px;
    }
    input[type=checkbox] {
        height: 11px;
    }
    .box-filter hr {
        margin: 10px 0 !important;
    }
    .filter-price input {
        font-size: 8px;
    }
    .apply-btn {
        font-size: 10px;
        padding: 5px 20px;
    }
    .filter-star i {
        font-size: 10px;
        padding-right: 3px
    }
    .content-product {
        padding: 6px !important;
    }
    .list-category h1 {
        font-size: 14px;
    }
    .content h3, footer h3, .category-content {
        font-size: 12px;
    }
    .bottom-header {
        justify-content: flex-start !important;
    }
    .box-item p {
        font-size: 13px;
    }
    .search-tab {
        font-size: 14px;
    }
    .avatar-shop {
        width: 60px;
        height: 60px;
    }
    .favor-shop p {
        font-size: 8px;
        padding: 2px 5px;
    }
    .title-shop {
        font-size: 13px;
    }
    .div-total-product, .div-total-eluvation, .div-feedback-rate, .div-feedback-time { 
        font-size: 13px;
    }
    .total-product, .total-eluvation, .feedback-rate, .feedback-time { 
        font-size: 13px;
    }
    .orderby-title {
        margin-bottom: 5px;
        font-size: 14px;
    }
    .main-content {
        padding : 10px;
    }
    .orderby-group button {
        font-size: 10px;
        padding : 6px 10px;
    }
    .orderby-price select {
        height: calc(1.8rem);
        font-size: 10px;
    }
    .banner-info {
        margin-bottom: 10px;
    }
    .suggest-shop>div {
        border: none;
    }
    .div-info-shop .d-flex {
        flex-direction: column !important;
    }
    .div-info-shop {
        width: 100%;
    }
    .div-total-product, .div-total-eluvation, .div-feedback-rate, .div-feedback-time  {
        width: 50%;
        align-items: start !important;
    }
    .box-order {
        flex-direction: column;
    }
    .orderby-group {
        flex-direction: column;
        align-items: start !important;
    }
    .box-order .d-flex {
        align-items: center;
    }
    .orderby-group div {
        margin-right: 10px;
    }
    .pagination {
        font-size: 12px;
        margin-top: 5px;
    }
    .top-header {
        text-align : left;
    }
    .div-info-shop .d-flex {
        flex-direction: row !important;
    }
    .total-product, .total-eluvation, .feedback-rate, .feedback-time {
        font-size: 14px;
    }
    .div-total-product, .div-total-eluvation, .div-feedback-rate, .div-feedback-time {
        font-size: 14px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .level, .silver-level-icon {
        display: block;
    }
    .silver-level-icon {
        width: 15px;
    }
    .title-product, .product-price, .amount-sale, .address-product {
        font-size: 13px;
    }
    .register-ctv-btn {
        font-size: 9px;
        padding: 5px;
    }
    .star-icon i {
        font-size: 10px;
    }
    .type-product span {
        font-size: 12px;
    }
    .box-filter {
        font-size: 12px;
    }
    .font-14 {
        font-size: 13px;
    }
    .title-filter {
        font-size: 13px;
    }
    .filter-price input {
        font-size: 11px;
    }
    .apply-btn {
        font-size: 12px;
    }
    .filter-star i {
        font-size: 11px;
        padding-right: 5px;
    }
    .content-product {
        padding: 8px !important;
    }
    .list-category h1 {
        font-size: 16px;
    }
    .content h3, footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 13px;
    }
    .avatar-shop {
        width: 65px;
        height: 65px;
    }
    .favor-shop p {
        font-size: 9px;
        padding: 2px 5px;
    }
    .title-shop {
        font-size: 14px;
    }
    .div-total-product, .div-total-eluvation, .div-feedback-rate, .div-feedback-time {
        width: 25%;
        align-items: center !important;
    }
    .orderby-title {
        font-size: 15px;
    }
    .orderby-group button {
        font-size: 11px;
        padding: 6px 20px;
    }
    .search-tab {
        font-size: 15px;
    }
    .box-item p {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .img-r-header {
        width : 28px;
        height: 28px;
    }
    .top-header {
        text-align: center;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size : 13px;
    }
    .font-12 {
        font-size: 11px;
    }
    .b-search-header ul li a {
        font-size: 11px;
    }
    .icon-search span {
        font-size: 16px;
    }
    .input-search select, .username, .level {
        font-size :  12px;
    }
    .progress {
        width : 70px;
        height : 8px;
    }
    .flag-lang img {
        width : 28px;
        height : 17px;
    }
    .font-14 {
        font-size: 13px;
    }
    .title-box, .read-more {
        font-size: 14px;
    }
    .input-search {
        font-size: 12px;
        padding-left: 0;
    }
    .btn-submit {
        padding : 5px 30px;
        bottom : 5px;
    }
    .font-11 {
        font-size: 10px;
    }
    .ml-3 {
        margin-left: 5px !important;
    }
    .type-product {
        font-size: 13px;
    }
    .title-product, .product-price, .amount-sale, .address-product, .fa-thumbs-up {
        font-size: 12px;
    }
    .ctv-price {
        font-size: 10px;
    }
    .box-filter {
        font-size: 12px;
    }
    .apply-btn {
        font-size: 12px;
        padding: 5px 30px;
    }
    .filter-star i {
        padding-right: 3px;
        font-size: 12px;
    }
    .list-category h1 {
        font-size: 20px;
    }
    .content h3, .footer h3 {
        font-size: 12px;
    }
    .category-content, .item-content a {
        font-size: 12px;
    }
    .top-box .input-search {
        width: 40%;
    }
    .owl-prev img {
        width: 13px;
        height: 16px;
    }
    .title-product, .product-price {
        font-size: 14px;
    }
    .type-product span {
        font-size: 13px;
    }
    .box-filter {
        width: 20%;
        font-size: 14px;
    }
    .suggest-pro {
        width: 78%;
    }
    .suggest-pro-box .product {
        width: 23%;
        margin-right: 10px;
    }
    .title-filter {
        font-size: 13px;
    }
    .box-filter p {
        font-size: 15px;
    }
    input[type=checkbox] {
        height: 12px;
    }
    .box-filter label {
        margin-top:  0;
    }
    .orderby-group {
        flex-direction: row;
        align-items: center !important;
    }
    .box-order {
        flex-direction: row;
    }
    .pagination {
        margin-top: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .img-r-header {
        width : 25px;
        height : 25px;
    }
    .top-header ul li a, .select-lang, .my-shop, .total-coin,
    .my-level {
        font-size: 14px;
    }
    .font-12 {
        font-size: 12px;
    }
    .b-search-header ul li a {
        font-size: 12px;
    }
    .icon-search span {
        font-size: 15px;
    }
    .input-search select, .username, .level {
        font-size :  16px;
    }
    .progress {
        width : 90px;
        height : 10px;
    }
    .flag-lang img {
        width : 32px;
        height : 20px;
    }
    .font-14 {
        font-size: 14px;
    }
    .font-11 {
        font-size: 11px;
    }
    .type-product {
        font-size: 16px;
    }
    .title-product, .product-price, .amount-sale, .address-product, .fa-thumbs-up {
        font-size: 14px;
    }
    .ctv-price {
        font-size: 10px;
    }
    .apply-btn {
        font-size: 14px;
        padding: 7px 40px;
    }
    .filter-star i {
        padding-right: 6px;
    }
    .list-category h1 {
        font-size: 24px;
    }
    .content h3, .footer h3 {
        font-size: 14px;
    }
    .category-content, .item-content a {
        font-size: 14px;
    }
    .type-product span {
        font-size: 16px;
        margin-right: 20px;
    }
    .title-filter ,.box-filter p{
        font-size: 14px;
    }
    .box-filter {
        font-size: 16px;
    }
    input[type=checkbox] {
        height : 16px
    }
    .title-product,.product-price {
        font-size: 14px;
    }
    .ctv-price {
        font-size: 10px;
    }
    .register-ctv-btn {
        font-size: 9px;
        padding: 2px 5px;
    }
    .star-icon i, .fa-thumbs-up {
        font-size: 10px;
    }
    .amount-sale, .address-product {
        font-size: 14px;
    }
    .suggest-pro-box .amount-sale, .suggest-pro-box .address-product {
        font-size: 14px;
    }
    .fa-thumbs-up {
        font-size: 14px;
    }
    .suggest-pro-box .product {
        width: 19%;
        margin-right: 8px;
    }
    .div-info-shop {
        width: 33%;
    }
    .div-total-product, .div-total-eluvation {
        width: 15%;
    }
    .div-feedback-rate, .div-feedback-time {
        width: 18%;
    }
    .suggest-shop>div {
        border-right: 1px solid #ECECEC;
    }
    .title-shop {
        font-size: 16px;
    }
    .favor-shop p {
        padding: 2px 7px;
        font-size: 10px;
    }
    .avatar-shop {
        width: 74px;
        height: 74px;
    }
    .total-product, .total-eluvation, .feedback-rate, .feedback-time {
        font-size: 18px;
    }
    .orderby-group {
        justify-content: space-between !important;
    }
    .orderby-group button {
        font-size: 14px;
        padding: 5px 20px;
    }
    .box-order {
        align-items: center;
    }
    .orderby-price select {
        height: calc(2rem);
        font-size: 14px;
    }
    .pagination {
        font-size: 16px;
    }
    .box-filter {
        font-size: 14px;
        width: 17%;
    }
    .suggest-pro {
        width: 81%;
    }
    .main-content {
        padding: 20px 100px;
    }
}
